<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Xti5agQ8Qa9id3PBalPoTgHaLU&pid=Api&P=0&w=110&h=168" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">2-States</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://s.yimg.com/fz/api/res/1.2/QB8pu0yALhVnYsGYb9p2jA--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MTY4/https://s.yimg.com/zb/imgv1/fbccc6d5-2271-3013-aa30-4d26b51d86a4/t_500x300" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">One Indian Girl</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://s.yimg.com/fz/api/res/1.2/.gfm8BL6pNAm8UDxGhYM4g--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MTY4/https://s.yimg.com/zb/imgv1/10112331-22d6-3b84-9a6a-6ffaf1b31b9d/t_500x300" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Half Girlfriend</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.PKbhqESAgyn-VRoUSmbkQAAAAA&pid=Api&P=0&w=102&h=158" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">India Positive</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.T5vIaL1gWJV9yVNdO_2FCQHaIq&pid=Api&P=0&w=153&h=179" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">One Night at the call centre</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.qYG7o2hjU6UcACwvBF2ALgHaLX&pid=Api&P=0&w=103&h=158" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Solar Bones</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.FgiaVHrc3XFXVye1-DvZvQHaLJ&pid=Api&P=0&w=109&h=165" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Bridgerton</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.l0N2VsRa3gCXx16lJyO9QwAAAA&pid=Api&P=0&w=103&h=156" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Dark Road</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.rY4rhob4-PPZGcH94JV4oQHaL2&pid=Api&P=0&w=99&h=159" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> The Nuclear Family</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://tse1.mm.bing.net/th?id=OIP.B9ug9i45dCHP3nLNz6V7aQHaLL&pid=Api&P=0&w=100&h=152" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">This Tender Land</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">BUY NOW</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
